@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
$Dark-color:#0A1828;
$light-color:#8C8E91;
$darkblue:#21507E;
$Gray-color: #F2F2F2;
$gray:  #4F4F4F;
$Orange-color: #F2994A;
$Roboto: 'Roboto', sans-serif;
